<h3>Spaltengrößen</h3>
<div class="nx-btn-group">
    {% for key, size in configurableSizes %}
        <label class="nx-btn nx-btn-secondary">
            <input type="checkbox" name="configurableSizes[]" id="nx-columns-{{ key }}"> {{ size }}
        </label>
    {% endfor %}
</div>

<h3>Smartphone</h3>
<div style="max-width: calc(50% - 20px)">
    <h3><label>sehr kleine Auflösung (XS)</label></h3>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" checked> 100%
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2"> 66,6%
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3"> 33,3%
        </label>
    </div>
</div>
